
<html xmlns:th="https://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"  type="text/css"/>
</head>

<body>
<nav class="navbar">
    <div class="container-fluid">
        <!-- Nav Header -->
        <div class="navbar-header">
            Verb Identifier
        </div>
    </div>
    </div>
</nav>
<div class="justdiv"></div>
<div class="container" overflow="hidden">
<!--    <div th:if="${message}">
        <p th:text="${message}"/>
    </div>-->
    <div class="row" >
        <div class="col">

        <form name="upload" method="POST" enctype="multipart/form-data" action="/">
            <div class="row">
            <div class="col-9"><input type="file" name="file" onchange="checkExt();"/></div>
            <div class="col-1"><input type="submit" id="id" value="Find verbs" class="btn btn-find"/></div>
            </div>
        </form>
        </div>

        <div class="col-md-auto">
        <button id="ct" class="btn btn-ct" onclick="colorText();">Show in text</button></div>
        <div class="col-6" align="center" ><p class="pp">Results</p></div>
    </div>

</div>



<div class="row">
<!--    <div class="col"><textarea id="ta1" class="textarea" th:text="${content}"disabled></textarea></div>-->
    <div class="col"><div id="ta2" class="textarea" contenteditable="true" th:text="${content}" ></div></div>
       <div class="col">
           <div class="multiselect">
               <div class="selectBox" onclick="showCheckboxes()">
                   <select>
                       <option>Select Verb Tense</option>
                   </select>
                   <div class="overSelect"></div>
               </div>
               <div id="checkboxes">
                   <div class="col">
                   <div class="row">
                       <div class="col">
                   <label for="PSA">
                       <input type="checkbox" id="PSA" onchange="showLists();" checked/>Present Simple Active</label>
                   <label for="PSP">
                       <input type="checkbox" id="PSP" onchange="showLists();" checked/>Present Simple Passive</label>
                   <label for="PCA">
                       <input type="checkbox" id="PCA" onchange="showLists();" checked/>Present Continuous Active</label>
                   <label for="PCP">
                       <input type="checkbox" id="PCP" onchange="showLists();" checked/>Present Continuous Passive</label>
                   <label for="PPA">
                       <input type="checkbox" id="PPA" onchange="showLists();" checked/>Present Perfect Active</label>
                   <label for="PPP">
                       <input type="checkbox" id="PPP" onchange="showLists();" checked/>Present Perfect Passive</label>
                   <label for="PPCA">
                       <input type="checkbox" id="PPCA" onchange="showLists();" checked/>Present Perfect Continuous Active</label>
                   <label for="PPCP">
                       <input type="checkbox" id="PPCP" onchange="showLists();" checked/>Present Perfect Continuous Passive</label>
                       </div>
                       <div class="col">
                           <label for="PaSA">
                               <input type="checkbox" id="PaSA" onchange="showLists();" checked/>Past Simple Active</label>
                           <label for="PaSP">
                               <input type="checkbox" id="PaSP" onchange="showLists();" checked/>Past Simple Passive</label>
                           <label for="PaCA">
                               <input type="checkbox" id="PaCA" onchange="showLists();" checked/>Past Continuous Active</label>
                           <label for="PaCP">
                               <input type="checkbox" id="PaCP" onchange="showLists();" checked/>Past Continuous Passive</label>
                           <label for="PaPA">
                               <input type="checkbox" id="PaPA" onchange="showLists();" checked/>Past Perfect Active</label>
                           <label for="PaPP">
                               <input type="checkbox" id="PaPP" onchange="showLists();" checked/>Past Perfect Passive</label>
                           <label for="PaPCA">
                               <input type="checkbox" id="PaPCA" onchange="showLists();" checked/>Past Perfect Continuous Active</label>
                           <label for="PaPCP">
                               <input type="checkbox" id="PaPCP" onchange="showLists();" checked/>Past Perfect Continuous Passive</label>
                       </div>
                       <div class="col">
                           <label for="FSA">
                               <input type="checkbox" id="FSA" onchange="showLists();" checked/>Future Simple Active</label>
                           <label for="FSP">
                               <input type="checkbox" id="FSP" onchange="showLists();" checked/>Future Simple Passive</label>
                           <label for="FCA">
                               <input type="checkbox" id="FCA" onchange="showLists();" checked/>Future Continuous Active</label>
                           <label for="FCP">
                               <input type="checkbox" id="FCP" onchange="showLists();" checked/>Future Continuous Passive</label>
                           <label for="FPA">
                               <input type="checkbox" id="FPA" onchange="showLists();" checked/>Future Perfect Active</label>
                           <label for="FPP">
                               <input type="checkbox" id="FPP" onchange="showLists();" checked/>Future Perfect Passive</label>
                           <label for="FPCA">
                               <input type="checkbox" id="FPCA" onchange="showLists();" checked/>Future Perfect Continuous Active</label>
                           <label for="FPCP">
                               <input type="checkbox" id="FPCP" onchange="showLists();" checked/>Future Perfect Continuous Passive</label>
                       </div>
                   </div>
                   </div>
               </div>
           </div>
            <div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                <ul id="PSAul">
                    <div class="mini-header">Present Simple Active:</div>
<!--                    <li>
                        <p>is</p>
                        <p>is</p>
                        <p>is</p>
                        <p>has done</p>
                    </li>-->
                    <li th:each="verb : ${verblist1}">
                        <p th:text="${verb}"></p>
                    </li>
                </ul>
                            <ul id="PSPul">
                                <div class="mini-header">Present Simple Passive:</div>
                                <li th:each="verb : ${verblist2}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PCAul">
                                <div class="mini-header">Present Continuous Active:</div>
                                <li th:each="verb : ${verblist3}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PCPul">
                                <div class="mini-header">Present Continuous Passive:</div>
                                <li th:each="verb : ${verblist4}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PPAul">
                                <div class="mini-header">Present Perfect Active:</div>
                                <li th:each="verb : ${verblist5}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PPPul">
                                <div class="mini-header">Present Perfect Passive:</div>
                                <li th:each="verb : ${verblist6}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PPCAul">
                                <div class="mini-header">Present Perfect Continuous Active:</div>
                                <li th:each="verb : ${verblist7}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PPCPul">
                                <div class="mini-header">Present Perfect Continuous Passive:</div>
                                <li th:each="verb : ${verblist8}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul id="PaSAul">
                                <div class="mini-header">Past Simple Active:</div>
                                <li th:each="verb : ${verblist9}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PaSPul">
                                <div class="mini-header">Past Simple Passive:</div>
                                <li th:each="verb : ${verblist10}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PaCAul">
                                <div class="mini-header">Past Continuous Active:</div>
                                <li th:each="verb : ${verblist11}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PaCPul">
                                <div class="mini-header">Past Continuous Passive:</div>
                                <li th:each="verb : ${verblist12}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PaPAul">
                                <div class="mini-header">Past Perfect Active:</div>
                                <li th:each="verb : ${verblist13}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PaPPul">
                                <div class="mini-header">Past Perfect Passive:</div>
                                <li th:each="verb : ${verblist14}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PaPCAul">
                                <div class="mini-header">Past Perfect Continuous Active:</div>
                                <li th:each="verb : ${verblist15}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="PaPCPul">
                                <div class="mini-header">Past Perfect Continuous Passive:</div>
                                <li th:each="verb : ${verblist16}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul id="FSAul">
                                <div class="mini-header">Future Simple Active:</div>
                                <li th:each="verb : ${verblist17}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="FSPul">
                                <div class="mini-header">Future Simple Passive:</div>
                                <li th:each="verb : ${verblist18}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="FCAul">
                                <div class="mini-header">Future Continuous Active:</div>
                                <li th:each="verb : ${verblist19}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="FCPul">
                                <div class="mini-header">Future Continuous Passive:</div>
                                <li th:each="verb : ${verblist20}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="FPAul">
                                <div class="mini-header">Future Perfect Active:</div>
                                <li th:each="verb : ${verblist21}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="FPPul">
                                <div class="mini-header">Future Perfect Passive:</div>
                                <li th:each="verb : ${verblist22}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="FPCAul">
                                <div class="mini-header">Future Perfect Continuous Active:</div>
                                <li th:each="verb : ${verblist23}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                            <ul id="FPCPul">
                                <div class="mini-header">Future Perfect Continuous Passive:</div>
                                <li th:each="verb : ${verblist24}">
                                    <p th:text="${verb}"></p>
                                </li>
                            </ul>
                        </div>
                </div>
                </div>
        </div>
       </div>
</div>

</body>
<script>
    function checkExt() {
        if(document.upload.file.value.lastIndexOf(".txt")==-1) {
            alert("Please upload only .txt extention file");
            document.getElementById('id').disabled = true;
            document.getElementById('ct').disabled = true;
            return false;
        }
        else
        {
            document.getElementById('id').disabled = false;
        }
    }
</script>
<script>
    function colorText() {
        if(document.getElementById("ta2").textContent == "")
        {
            return false;
        }
        else {
            document.getElementById("ct").disabled = true;
            var ta = document.getElementById("ta2").innerHTML;
            var ulpsa = document.getElementById("PSAul");
            var ulpsp = document.getElementById("PSPul");
            var ulpca = document.getElementById("PCAul");
            var ulpcp = document.getElementById("PCPul");
            var ulppa = document.getElementById("PPAul");
            var ulppp = document.getElementById("PPPul");
            var ulppca = document.getElementById("PPCAul");
            var ulppcp = document.getElementById("PPCPul");

            var ulpasa = document.getElementById("PaSAul");
            var ulpasp = document.getElementById("PaSPul");
            var ulpaca = document.getElementById("PaCAul");
            var ulpacp = document.getElementById("PaCPul");
            var ulpapa = document.getElementById("PaPAul");
            var ulpapp = document.getElementById("PaPPul");
            var ulpapca = document.getElementById("PaPCAul");
            var ulpapcp = document.getElementById("PaPCPul");

            var ulfsa = document.getElementById("FSAul");
            var ulfsp = document.getElementById("FSPul");
            var ulfca = document.getElementById("FCAul");
            var ulfcp = document.getElementById("FCPul");
            var ulfpa = document.getElementById("FPAul");
            var ulfpp = document.getElementById("FPPul");
            var ulfpca = document.getElementById("FPCAul");
            var ulfpcp = document.getElementById("FPCPul");

            var psaitems = ulpsa.getElementsByTagName("p");
            var pspitems = ulpsp.getElementsByTagName("p");
            var pcaitems = ulpca.getElementsByTagName("p");
            var pcpitems = ulpcp.getElementsByTagName("p");
            var ppaitems = ulppa.getElementsByTagName("p");
            var pppitems = ulppp.getElementsByTagName("p");
            var ppcaitems = ulppca.getElementsByTagName("p");
            var ppcpitems = ulppcp.getElementsByTagName("p");

            var pasaitems = ulpasa.getElementsByTagName("p");
            var paspitems = ulpasp.getElementsByTagName("p");
            var pacaitems = ulpaca.getElementsByTagName("p");
            var pacpitems = ulpacp.getElementsByTagName("p");
            var papaitems = ulpapa.getElementsByTagName("p");
            var pappitems = ulpapp.getElementsByTagName("p");
            var papcaitems = ulpapca.getElementsByTagName("p");
            var papcpitems = ulpapcp.getElementsByTagName("p");

            var fsaitems = ulfsa.getElementsByTagName("p");
            var fspitems = ulfsp.getElementsByTagName("p");
            var fcaitems = ulfca.getElementsByTagName("p");
            var fcpitems = ulfcp.getElementsByTagName("p");
            var fpaitems = ulfpa.getElementsByTagName("p");
            var fppitems = ulfpp.getElementsByTagName("p");
            var fpcaitems = ulfpca.getElementsByTagName("p");
            var fpcpitems = ulfpcp.getElementsByTagName("p");

            var psacleanitems = [];
            var pspcleanitems = [];
            var pcacleanitems = [];
            var pcpcleanitems = [];
            var ppacleanitems = [];
            var pppcleanitems = [];
            var ppcacleanitems = [];
            var ppcpcleanitems = [];

            var pasacleanitems = [];
            var paspcleanitems = [];
            var pacacleanitems = [];
            var pacpcleanitems = [];
            var papacleanitems = [];
            var pappcleanitems = [];
            var papcacleanitems = [];
            var papcpcleanitems = [];

            var fsacleanitems = [];
            var fspcleanitems = [];
            var fcacleanitems = [];
            var fcpcleanitems = [];
            var fpacleanitems = [];
            var fppcleanitems = [];
            var fpcacleanitems = [];
            var fpcpcleanitems = [];

            for (var a = 0; a < psaitems.length; ++a) {if (psacleanitems.includes(psaitems[a].textContent) == false) { psacleanitems.push(psaitems[a].textContent)}}
            for (var aa = 0; aa < psacleanitems.length; ++aa) {if (ta.includes(psacleanitems[aa])) {ta = ta.replace(psacleanitems[aa], '<span style="background-color: #f0f3bd;"> ' + psacleanitems[aa] + "(Present Simple Active) " + '</span> ');}}
            for (var b = 0; b < pspitems.length; ++b) {if (pspcleanitems.includes(pspitems[b].textContent) == false) {pspcleanitems.push(pspitems[b].textContent)}}
            for (var bb = 0; bb < pspcleanitems.length; ++bb) {if (ta.includes(pspcleanitems[bb])) {ta = ta.replace(pspcleanitems[bb], '<span style="background-color: #f0c9dc;"> ' + pspcleanitems[bb] + "(Present Simple Passive) " + '</span> ');}}
            for (var c = 0; c < pcaitems.length; ++c) {if (pcacleanitems.includes(pcaitems[c].textContent) == false) {pcacleanitems.push(pcaitems[c].textContent)}}
            for (var cc = 0; cc < pcacleanitems.length; ++cc) {if (ta.includes(pcacleanitems[cc])) {ta = ta.replace(pcacleanitems[cc], '<span style="background-color: #fcded9;"> ' + pcacleanitems[cc] + "(Present Continuous Active) " + '</span> ');}}
            for (var d = 0; d < pcpitems.length; ++d) {if (pcpcleanitems.includes(pcpitems[d].textContent) == false) {pcpcleanitems.push(pcpitems[d].textContent)}}
            for (var dd = 0; dd < pcpcleanitems.length; ++dd) {if (ta.includes(pcpcleanitems[dd])) {ta = ta.replace(pcpcleanitems[dd], '<span style="background-color: #e4cfb4;"> ' + pcpcleanitems[dd] + "(Present Continuous Passive) " + '</span> ');}}
            for (var e = 0; e < ppaitems.length; ++e) {if (ppacleanitems.includes(ppaitems[e].textContent) == false) {ppacleanitems.push(ppaitems[e].textContent)}}
            for (var ee = 0; ee < ppacleanitems.length; ++ee) {if (ta.includes(ppacleanitems[ee])) {ta = ta.replace(ppacleanitems[ee], '<span style="background-color: #c3dbc2;"> ' + ppacleanitems[ee] + "(Present Perfect Active) " + '</span> ');}}
            for (var f = 0; f < pppitems.length; ++f) {if (pppcleanitems.includes(pppitems[f].textContent) == false) {pppcleanitems.push(pppitems[f].textContent)}}
            for (var ff = 0; ff < pppcleanitems.length; ++ff) {if (ta.includes(pppcleanitems[ff])) {ta = ta.replace(pppcleanitems[ff], '<span style="background-color: #a7d1df;"> ' + pppcleanitems[ff] + "(Present Perfect Passive) " + '</span> ');}}
            for (var g = 0; g < ppcaitems.length; ++g) {if (ppcacleanitems.includes(ppcaitems[g].textContent) == false) {ppcacleanitems.push(ppcaitems[g].textContent)}}
            for (var gg = 0; gg < ppcacleanitems.length; ++gg) {if (ta.includes(ppcacleanitems[gg])) {ta = ta.replace(ppcacleanitems[gg], '<span style="background-color: #f3d2ac;"> ' + ppcacleanitems[gg] + "(Present Perfect Continuous Active) " + '</span> ');}}
            for (var h = 0; h < ppcaitems.length; ++h) {if (ppcpcleanitems.includes(ppcpitems[h].textContent) == false) {ppcpcleanitems.push(ppcpitems[h].textContent)}}
            for (var hh = 0; hh < ppcpcleanitems.length; ++hh) {if (ta.includes(ppcpcleanitems[hh])) {ta = ta.replace(ppcpcleanitems[hh], '<span style="background-color: #f3b8b1;"> ' + ppcpcleanitems[hh] + "(Present Perfect Continuous Passive) " + '</span> ');}}

            for (var i = 0; i < pasaitems.length; ++i) {if (pasacleanitems.includes(pasaitems[i].textContent) == false) {pasacleanitems.push(pasaitems[i].textContent)}}
            for (var ii = 0; ii < pasacleanitems.length; ++ii) {if (ta.includes(pasacleanitems[ii])) {ta = ta.replace(pasacleanitems[ii], '<span style="background-color: #cecbd6;"> ' + pasacleanitems[ii] + "(Past Simple Active) " + '</span> ');}}
            for (var j = 0; j < paspitems.length; ++j) {if (paspcleanitems.includes(paspitems[j].textContent) == false) {paspcleanitems.push(paspitems[j].textContent)}}
            for (var jj = 0; jj < paspcleanitems.length; ++jj) {if (ta.includes(paspcleanitems[jj])) {ta = ta.replace(paspcleanitems[jj], '<span style="background-color: #7dc8ca;"> ' + paspcleanitems[jj] + "(Past Simple Passive) " + '</span> ');}}
            for (var k = 0; k < pacaitems.length; ++k) {if (pacacleanitems.includes(pacaitems[k].textContent) == false) {pacacleanitems.push(pacaitems[k].textContent)}}
            for (var kk = 0; kk < pacacleanitems.length; ++kk) {if (ta.includes(pacacleanitems[kk])) {ta = ta.replace(pacacleanitems[kk], '<span style="background-color: #cae9e0;"> ' + pacacleanitems[kk] + "(Past Continuous Active) " + '</span> ');}}
            for (var l = 0; l < pacpitems.length; ++l) {if (pacpcleanitems.includes(pacpitems[l].textContent) == false) {pacpcleanitems.push(pacpitems[l].textContent)}}
            for (var ll = 0; ll < pacpcleanitems.length; ++ll) {if (ta.includes(pacpcleanitems[ll])) {ta = ta.replace(pacpcleanitems[ll], '<span style="background-color: #e4cfb4;"> ' + pacpcleanitems[ll] + "(Past Continuous Passive) " + '</span> ');}}
            for (var m = 0; m < papaitems.length; ++m) {if (papacleanitems.includes(papaitems[m].textContent) == false) {papacleanitems.push(papaitems[m].textContent)}}
            for (var mm = 0; mm < papacleanitems.length; ++mm) {if (ta.includes(papacleanitems[mm])) {ta = ta.replace(papacleanitems[mm], '<span style="background-color: #c3dbc2;"> ' + papacleanitems[mm] + "(Past Perfect Active) " + '</span> ');}}
            for (var n = 0; n < pappitems.length; ++n) {if (pappcleanitems.includes(pappitems[n].textContent) == false) {pappcleanitems.push(pappitems[n].textContent)}}
            for (var nn = 0; nn < pappcleanitems.length; ++nn) {if (ta.includes(pappcleanitems[nn])) {ta = ta.replace(pappcleanitems[nn], '<span style="background-color: #a7d1df;"> ' + pappcleanitems[nn] + "(Past Perfect Passive) " + '</span> ');}}
            for (var o = 0; o < papcaitems.length; ++o) {if (papcacleanitems.includes(papcaitems[o].textContent) == false) {papcacleanitems.push(papcaitems[o].textContent)}}
            for (var oo = 0; oo < papcacleanitems.length; ++oo) {if (ta.includes(papcacleanitems[oo])) {ta = ta.replace(papcacleanitems[oo], '<span style="background-color: #f3d2ac;"> ' + papcacleanitems[oo] + "(Past Perfect Continuous Active) " + '</span> ');}}
            for (var p = 0; p < papcaitems.length; ++p) {if (papcpcleanitems.includes(papcpitems[p].textContent) == false) {papcpcleanitems.push(papcpitems[p].textContent)}}
            for (var pp = 0; pp < papcpcleanitems.length; ++pp) {if (ta.includes(papcpcleanitems[pp])) {ta = ta.replace(papcpcleanitems[pp], '<span style="background-color: #f3b8b1;"> ' + papcpcleanitems[pp] + "(Past Perfect Continuous Passive) " + '</span> ');}}

            for (var q = 0; q < fsaitems.length; ++q) {if (fsacleanitems.includes(fsaitems[q].textContent) == false) {fsacleanitems.push(fsaitems[q].textContent)}}
            for (var qq = 0; qq < fsacleanitems.length; ++qq) {if (ta.includes(fsacleanitems[qq])) {ta = ta.replace(fsacleanitems[qq], '<span style="background-color: #ffcfc5;"> ' + fsacleanitems[qq] + "(Future Simple Active) " + '</span> ');}}
            for (var r = 0; r < fspitems.length; ++r) {if (fspcleanitems.includes(fspitems[r].textContent) == false) {fspcleanitems.push(fspitems[r].textContent)}}
            for (var rr = 0; rr < fspcleanitems.length; ++rr) {if (ta.includes(fspcleanitems[rr])) {ta = ta.replace(fspcleanitems[rr], '<span style="background-color: #e2fbec;"> ' + fspcleanitems[rr] + "(Future Simple Passive) " + '</span> ');}}
            for (var s = 0; s < fcaitems.length; ++s) {if (fcacleanitems.includes(fcaitems[s].textContent) == false) {fcacleanitems.push(fcaitems[s].textContent)}}
            for (var ss = 0; ss < fcacleanitems.length; ++ss) {if (ta.includes(fcacleanitems[ss])) {ta = ta.replace(fcacleanitems[ss], '<span style="background-color: #c9eaef;"> ' + fcacleanitems[ss] + "(Future Continuous Active) " + '</span> ');}}
            for (var t = 0; t < fcpitems.length; ++t) {if (fcpcleanitems.includes(fcpitems[t].textContent) == false) {fcpcleanitems.push(fcpitems[t].textContent)}}
            for (var tt = 0; tt < fcpcleanitems.length; ++tt) {if (ta.includes(fcpcleanitems[tt])) {ta = ta.replace(fcpcleanitems[tt], '<span style="background-color: #ffdbe7;"> ' + fcpcleanitems[tt] + "(Future Continuous Passive) " + '</span> ');}}
            for (var u = 0; u < fpaitems.length; ++u) {if (fpacleanitems.includes(fpaitems[u].textContent) == false) {fpacleanitems.push(fpaitems[u].textContent)}}
            for (var uu = 0; uu < fpacleanitems.length; ++uu) {if (ta.includes(fpacleanitems[uu])) {ta = ta.replace(fpacleanitems[uu], '<span style="background-color: #ffeed1;"> ' + fpacleanitems[uu] + "(Future Perfect Active) " + '</span> ');}}
            for (var v = 0; v < fppitems.length; ++v) {if (fppcleanitems.includes(fppitems[v].textContent) == false) {fppcleanitems.push(fppitems[v].textContent)}}
            for (var vv = 0; vv < fppcleanitems.length; ++vv) {if (ta.includes(fppcleanitems[vv])) {ta = ta.replace(fppcleanitems[vv], '<span style="background-color: #a7d1df;"> ' + fppcleanitems[vv] + "(Future Perfect Passive) " + '</span> ');}}
            for (var w = 0; w < fpcaitems.length; ++w) {if (fpcacleanitems.includes(fpcaitems[w].textContent) == false) {fpcacleanitems.push(fpcaitems[w].textContent)}}
            for (var ww = 0; ww < fpcacleanitems.length; ++ww) {if (ta.includes(fpcacleanitems[ww])) {ta = ta.replace(fpcacleanitems[ww], '<span style="background-color: #f3d2ac;"> ' + fpcacleanitems[ww] + "(Future Perfect Continuous Active) " + '</span> ');}}
            for (var x = 0; x < fpcaitems.length; ++x) {if (fpcpcleanitems.includes(fpcpitems[x].textContent) == false) {fpcpcleanitems.push(fpcpitems[x].textContent)}}
            for (var xx = 0; xx < fpcpcleanitems.length; ++xx) {if (ta.includes(fpcpcleanitems[xx])) {ta = ta.replace(fpcpcleanitems[xx], '<span style="background-color: #f3b8b1;"> ' + fpcpcleanitems[xx] + "(Future Perfect Continuous Passive) " + '</span> ');}}

            document.getElementById("ta2").innerHTML = ta;

        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        console.log("DOM fully loaded and parsed");
        document.getElementById('id').disabled = true;
    });
</script>
<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>
<script>
    function showLists(){
        //psa1
        var listofPSA = document.getElementById("PSAul");
        var psacheck = document.getElementById("PSA");
        if(psacheck.checked) {listofPSA.style.display = "block";}
        else {listofPSA.style.display = "none";}
        //psp2
        var listofPSP = document.getElementById("PSPul");
        var pspcheck = document.getElementById("PSP");
        if(pspcheck.checked) {listofPSP.style.display = "block";}
        else {listofPSP.style.display = "none";}
        //pca3
        var listofPCA = document.getElementById("PCAul");
        var PCAcheck = document.getElementById("PCA");
        if(PCAcheck.checked) {listofPCA.style.display = "block";}
        else {listofPCA.style.display = "none";}
        //pcp4
        var listofPCP = document.getElementById("PCPul");
        var PCPcheck = document.getElementById("PCP");
        if(PCPcheck.checked) {listofPCP.style.display = "block";}
        else {listofPCP.style.display = "none";}
        //ppa5
        var listofPPA = document.getElementById("PPAul");
        var PPAcheck = document.getElementById("PPA");
        if(PPAcheck.checked) {listofPPA.style.display = "block";}
        else {listofPPA.style.display = "none";}
        //ppp6
        var listofPPP = document.getElementById("PPPul");
        var PPPcheck = document.getElementById("PPP");
        if(PPPcheck.checked) {listofPPP.style.display = "block";}
        else {listofPPP.style.display = "none";}
        //ppca7
        var listofPPCA = document.getElementById("PPCAul");
        var PPCAcheck = document.getElementById("PPCA");
        if(PPCAcheck.checked) {listofPPCA.style.display = "block";}
        else {listofPPCA.style.display = "none";}
        //ppcp8
        var listofPPCP = document.getElementById("PPCPul");
        var PPCPcheck = document.getElementById("PPCP");
        if(PPCPcheck.checked) {listofPPCP.style.display = "block";}
        else {listofPPCP.style.display = "none";}

        //pasa9
        var listofPaSA = document.getElementById("PaSAul");
        var pasacheck = document.getElementById("PaSA");
        if(pasacheck.checked) {listofPaSA.style.display = "block";}
        else {listofPaSA.style.display = "none";}
        //pasp10
        var listofPaSP = document.getElementById("PaSPul");
        var paspcheck = document.getElementById("PaSP");
        if(paspcheck.checked) {listofPaSP.style.display = "block";}
        else {listofPaSP.style.display = "none";}
        //paca11
        var listofPaCA = document.getElementById("PaCAul");
        var PaCAcheck = document.getElementById("PaCA");
        if(PaCAcheck.checked) {listofPaCA.style.display = "block";}
        else {listofPaCA.style.display = "none";}
        //pacp12
        var listofPaCP = document.getElementById("PaCPul");
        var PaCPcheck = document.getElementById("PaCP");
        if(PaCPcheck.checked) {listofPaCP.style.display = "block";}
        else {listofPaCP.style.display = "none";}
        //papa13
        var listofPaPA = document.getElementById("PaPAul");
        var PaPAcheck = document.getElementById("PaPA");
        if(PaPAcheck.checked) {listofPaPA.style.display = "block";}
        else {listofPaPA.style.display = "none";}
        //papp14
        var listofPaPP = document.getElementById("PaPPul");
        var PaPPcheck = document.getElementById("PaPP");
        if(PaPPcheck.checked) {listofPaPP.style.display = "block";}
        else {listofPaPP.style.display = "none";}
        //papca15
        var listofPaPCA = document.getElementById("PaPCAul");
        var PaPCAcheck = document.getElementById("PaPCA");
        if(PaPCAcheck.checked) {listofPaPCA.style.display = "block";}
        else {listofPaPCA.style.display = "none";}
        //papcp16
        var listofPaPCP = document.getElementById("PaPCPul");
        var PaPCPcheck = document.getElementById("PaPCP");
        if(PaPCPcheck.checked) {listofPaPCP.style.display = "block";}
        else {listofPaPCP.style.display = "none";}

        //fsa17
        var listofFSA = document.getElementById("FSAul");
        var fsacheck = document.getElementById("FSA");
        if(fsacheck.checked) {listofFSA.style.display = "block";}
        else {listofFSA.style.display = "none";}
        //fsp18
        var listofFSP = document.getElementById("FSPul");
        var fspcheck = document.getElementById("FSP");
        if(fspcheck.checked) {listofFSP.style.display = "block";}
        else {listofFSP.style.display = "none";}
        //fca19
        var listofFCA = document.getElementById("FCAul");
        var FCAcheck = document.getElementById("FCA");
        if(FCAcheck.checked) {listofFCA.style.display = "block";}
        else {listofFCA.style.display = "none";}
        //fcp20
        var listofFCP = document.getElementById("FCPul");
        var FCPcheck = document.getElementById("FCP");
        if(FCPcheck.checked) {listofFCP.style.display = "block";}
        else {listofFCP.style.display = "none";}
        //fpa21
        var listofFPA = document.getElementById("FPAul");
        var FPAcheck = document.getElementById("FPA");
        if(FPAcheck.checked) {listofFPA.style.display = "block";}
        else {listofFPA.style.display = "none";}
        //fpp22
        var listofFPP = document.getElementById("FPPul");
        var FPPcheck = document.getElementById("FPP");
        if(FPPcheck.checked) {listofFPP.style.display = "block";}
        else {listofFPP.style.display = "none";}
        //fpca23
        var listofFPCA = document.getElementById("FPCAul");
        var FPCAcheck = document.getElementById("FPCA");
        if(FPCAcheck.checked) {listofFPCA.style.display = "block";}
        else {listofFPCA.style.display = "none";}
        //fpcp24
        var listofFPCP = document.getElementById("FPCPul");
        var FPCPcheck = document.getElementById("FPCP");
        if(FPCPcheck.checked) {listofFPCP.style.display = "block";}
        else {listofFPCP.style.display = "none";}
    }
</script>
</html>
